.mainDisplayCard
{
     display: flex;
    margin-top:50px;
    margin-bottom:50px;
      width:80%;
      margin-left: auto;
      margin-right: auto;
      
     

}


.whoWas
{   margin-top:50px;
    margin-bottom:50px;
      width:80%;
      margin-left: auto;
      margin-right: auto;
      padding:5%;
 

}

.DOB
{font-weight: bold;}
.DOB::before
{  content: "\a  ";
  white-space: pre;}
.lineBreak::after
{
  content: "\a \a ";
    white-space: pre;
}
.lineBreak , .fontFamilyAbout
{font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  
  color: #6C757D;
  }

  .aboutHeading
  {font-family: Poppins;
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 50px;
/* or 98% */

text-align: center;
letter-spacing: -0.05em;
text-transform: uppercase;

/* Gray */

color: #495057;



  }

    .image
    {width:50% !important}
    .textBox
    {width:50% !important}
  
  @media only screen and (max-width: 850px) {
    .mainDisplayCard
    {
        flex-direction: column;
          
         
    
    }
    .image
    {width:100% !important}
    .textBox
    {width:100% !important}
  }