@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,900&family=Poppins:wght@100;200&display=swap');
.audioCardMain
{margin:50px 20% 50px 20%;

}
/* main audio series card */
.audiosSeriesCardMain
{margin:50px 35% 50px 35%;
display: flex;
flex-direction: column;
}
/* main audio series card */

/* audio series card image */
.audiosSeriesCardImage
{width: 100%;
height:280px}
/* audio series card image */

/* audio player controls */
.audioControlsMain
{width:100%;
align-items:center}
/* audio series card image */


.imageSection
{width:25%}
.listenBtn
{
    background:white;
    color:black;
}
.musicIcon
{height:20px;
width:20px;
margin-left:5px}

.mainBoxAudioSeries
{flex-direction: column;}

.audioPlayer
{width: 220px;
  height: 35px;
  
  margin-left: auto;
}

.mainAudiPageBox
{background: black;
  
  width: 100%;
  padding: 0 0 50px 0; }


  .audioSeriesCard
  { margin: 0 10% 50px 10%; 

  }

  .mainCollectionBox
  {padding:50px 10% 50px 10%;
  }
  .playList
  {
  justify-content: center
  }
 
  .audiPlayerMainBox
  {max-width: 650px}
  @media only screen and (max-width: 700px) {
    .audioSeriesandaudioPlayer
    {flex-direction: column !important;}
    .audioPlayer
{ 
  margin-left: 0;
}
.audiPlayerMainBox
  {max-width: 100%}
   
  }
  
  .noAudioText
  {text-align: center;}


  .collectionsMainHeadingText
  {margin-top:50px;
    font-family: Poppins;
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 80px;

letter-spacing: -0.05em;
text-transform: uppercase;
color: #495057;
width:100%;
text-align:center}
/* Responsiveness for the audioplayer */ 



.linkBtnDesign
{background:black;
color:white;
margin-top:20px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
padding:5px}
.linkBtnDesign:hover
{background:black;
opacity: 0.7;}
.mainBoxContainer
{background: #F8F9FA;
}

.audioPlayerBox
{display:flex;
  margin-top:20px;
}
.previousBtn,.nextBtn :hover
{cursor: pointer;}
.previousBtn,.nextBtn
{height:20px;
width:20px;
margin:0 10px 0 10px}
.audioCardtext
{font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;}
  @media only screen and (max-width: 900) {
    .collectionBoxes
    {flex-direction: column !important;
    justify-content: center;
  align-items: center;}
 
  }
  .audioPlayListContainer
  {width: 100%;
    }
    .audioPlayListContainer li
    {width:50%;
    margin-left:auto;
    margin-right:auto;}

    .audioPlayerContainer
    { margin-top: 50px;
       margin-bottom: 30px }

       @media only screen and (max-width: 700px) {
 .musicPlayerControls
 {width:85% !important}
 .playMusicBox
 {width:100% !important}

 .musicPlayerControls
 {flex-direction: column;}
 .musicPlayerImage
 {height:250px !important;
  width: 100% !important;
}
       }

       .musicPlayerControls
      {
        width: 550px;
        margin-left: auto;
        margin-right: auto;


        display: flex;
        background: whitesmoke;
        box-shadow: 4px 4px 4px gray
    }
