@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,900&family=Poppins:wght@100;200&display=swap');

.booksMainDiv
{margin:50px auto 50px auto;
width: 70%

}

.topTextBook
{text-align: center;
margin-bottom: 15px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 34px;
/* or 68% */

letter-spacing: -0.05em;
text-transform: uppercase;

/* Gray */

color: #495057;
}





  
@media only screen and (max-width: 1250px) {
    .bookImageBox
    {max-width: 800px !important;}
  }
  .viewSeriesBtn
  {background-color: black;}
  .viewSeriesBtn:hover
  {background-color: black;
opacity: 0.7;}

.descriptionText
{
  
 
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  /* or 68% */
  
  letter-spacing: -0.05em;
  text-transform: uppercase;
  
  /* Gray */
  
  color: #495057;
  margin-bottom: 35px;

}