@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,900&family=Poppins:wght@100;200&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* footer */
.footer-content
{font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* or 68% */
  
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  
  /* Gray */
  
  color: #495057;

}
@media only screen and (max-width: 650px) {
  .footer-content {
    font-size: 2.5vw !important;
  }
}



@media only screen and (max-width: 400px) {
  .footer-content {
    font-size: 2.7vw !important;
    padding:2px
  }
}
/* footer */
.about-us-main
{
   background: grey;
    padding: 50px; 

}
.audio-class .css-518kzi-MuiListItemSecondaryAction-root
{left:70% !important}
.brand-name
{font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  /* or 98% */
  
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  
  /* Gray */
  
  color: #495057;}




