
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* footer */
.footer-content
{display:flex;
justify-content: center;

}
@media only screen and (max-width: 650px) {
  .footer-content {
    font-size: 2.5vw !important;
  }
}



@media only screen and (max-width: 400px) {
  .footer-content {
    font-size: 2.7vw !important;
    padding:2px
  }
}
/* footer */
.about-us-main
{
   background: grey;
    padding: 50px; 

}
.audio-class .css-518kzi-MuiListItemSecondaryAction-root
{left:70% !important}